<style>
body{ background-color: rgba(2, 251, 27, 0.141);}   

hr{height:opx;
    width: 5%;
    border-style: dotted none none;
    border-color: blueviolet;
    border-width: 5px;


}



</style>
